body {
  background-color: gray;
  text-align: center;
  padding: 40px;
}

.bible-scripture-card {
  background-color: gray;
  max-width: calc(23% + 10em);
  max-height: calc(23% + 10em);
  border-radius: 10px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 2px 4px 2.5px 1px #484d54;
}

h1,
.bible-scripture-card {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

#vs-text {
  margin: 0px 5px;
}

.bible-scripture-card p {
  font-size: 1.5em;
}

p,
a {
  color: gray;
  display: inline-block;
  font-family: "Afacad Flux", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

#emotion-buttons,
#emotion-buttons-2,
#emotion-buttons-3,
#emotion-buttons-4 {
  display: inline;
  margin: 20px, auto;
  text-align: center;
  width: calc(20% + 0px);
  max-width: calc(100% + 200px);
  min-width: 1%;
}

#emotion-buttons a,
#emotion-buttons-2 a,
#emotion-buttons-2 a,
#emotion-buttons-3 a,
#emotion-buttons-4 a {
  display: inline-block;
  border: 1px solid;
  text-align: center;
  background-color: #9d0208;
  color: #000000;
  margin: 5px auto;
  padding: 5px 10px;
  width: calc(1% + 3.5em);
  max-width: calc(1% + 5em);
  min-width: 1%;
  text-decoration: none;
  font-size: 1.3em;
  box-shadow: 2px 4px 8px #370617;
}

a:hover {
  background-color: #6a040f;
  transform: scale(0.9);
}

a:active {
  background-color: #9d0208;
}

/* Below is Gods-Word section */

#anger-counter,
#fear-counter,
#sadness-counter,
#jealousy-counter,
#envy-counter,
#hatred-counter,
#pride-counter,
#shame-counter,
#bitterness-counter,
#anxiety-counter,
#despair-counter,
#guilt-counter,
#lust-counter {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border-radius: 0px;
  width: calc(80% + 1em);
  max-width: calc(80% + 10em);
  max-height: calc(23% + 10em);
  display: none;
}

.scripture-h1 {
  font-size: 2.5rem;
  color: hsl(0, 100%, 100%);
  margin: 0px auto;
}

.scripture-p {
  font-size: 1.5em;
  color: hsl(0, 100%, 100%);
  box-shadow: 2px 2px 50px 20px hsl(56, 100%, 100%);
  border: 2px solid white;
  border-radius: 0px;
  padding: 30px;
}

#anger-counter:target,
#fear-counter:target,
#sadness-counter:target,
#jealousy-counter:target,
#envy-counter:target,
#hatred-counter:target,
#pride-counter:target,
#shame-counter:target,
#bitterness-counter:target,
#anxiety-counter:target,
#despair-counter:target,
#guilt-counter:target,
#lust-counter:target {
  display: block;
}

#anger-counter:hover,
#fear-counter:hover,
#sadness-counter:hover,
#jealousy-counter:hover,
#envy-counter:hover,
#hatred-counter:hover,
#pride-counter:hover,
#shame-counter:hover,
#bitterness-counter:hover,
#anxiety-counter:hover,
#despair-counter:hover,
#guilt-counter:hover,
#lust-counter:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease;
}
